<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/assets/styles.css">
    <title>HOME</title>
</head>
<body>

    <header>
        <nav>
            <ul class="nav-links">
                <li class="nav-right"><a href="#" id="home">HOME</a></li>
                <li><a href="coral.html" id="coral">CORAL</a></li>
                <li><a href="vision.html" id="vision">VISION API</a></li>
            </ul>
        </nav>
    </header>

    <!-- Container for the image overlay -->
    <div class="image-container">
        <div class="overlay">
            <div class="buttons">
                <!-- Add two big buttons for Coral and Vision -->
                <a href="coral.html" class="big-button">Coral</a>
                <a href="vision.html" class="big-button">Vision</a>
            </div>
        </div>
        <!-- Adjust the path to your image based on the folder structure -->
        <img src="static/assets/afb1.png">
    </div>

    <!-- Adjust the path to your JavaScript file based on the folder structure -->
    <script src="static/assets/script.js"></script>
</body>
</html>
